/.DS_Store
/.venv
/Setup_poc.txt
/db.sqlite3
/fake_brp_data.csv
fake_brp_message_data.csv
fake_brp_summary_data.csv
prepoc_visuals.drawio
prepoc.sqlite3
fake_brp_message_data.csv
fake_brp_listMessage_data.csv
fake_brp_message_data_empty.csv
